body {
    background-color: black;
}

.hidden {
    display: none;
}

.clockIcon {
    position: fixed;
    width: 20px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    color: whitesmoke;
    font-size: 30px;
}

.clockIcon:hover #tooltip {
    display: flex;
}

#tooltip {
    display: none;
    position: relative;
    width: 150px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #55555575;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#timerContainer {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 20px;
    padding: 10px;
    align-items: center;
    z-index: 9999;
    background-color: rgba(43, 59, 72, 0.645);
    border-radius: 5px;
    justify-content: space-between;
    flex-direction: row;
}

#timerSpan {
    color: white;
}

#startPauseButton {
    margin-right: -40px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
}

button {
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.closeButton {
    font-size: 25px;
}

#resetButton {
    font-size: 30px;
}

#hourInput,
#minuteInput {
    margin-left: 10px;
    width: 20px;
    background-color: transparent;
    color: white;
}

#colonSpan {
    color: white;
}

.closeButton {
    margin-left: 10px;
}



.startPauseButton {
    margin-left: 10px;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}